<div class="container theme-showcase" role="main">
	<div class="accordion alternate" id="accordion">
		{{#cases}}
		<div class="card">
			<div class="card-header" id="heading-{{this.uuid}}">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-5 p-8"><p class="inrow monospace"><small>{{this.submittime}}</small></p></div>
							<div class="col-sm-7">
								<small>
									<button class="btn btn-link btn-md collapsed text-truncate" type="button" data-toggle="collapse"
											data-target="#collapse-{{this.uuid}}" aria-expanded="false" aria-controls="collapse-{{this.uuid}}">
											{{this.fname}}
									</button>
								</small>
							</div>
						</div>
					</div>
					<div class="col-sm-6 p-8">
						<div class="row">
							<div class="col-sm-3">		
								<p class="inrow">
									<a href="/cases/view/{{this.sha256}}/{{this.uuid}}"><button class="btn btn-default btn-xs">view</button></a>
								</p>
							</div>
							<div class="col-sm-9">
								<p class="inrow">
								{{#labels}}
									<label class="label {{this.labelstyle}}">{{this.labeltext}} | {{this.labelcount}}</label>
								{{/labels}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="collapse-{{this.uuid}}" class="collapse" aria-labelledBy="heading-{{this.uuid}}" data-parent="#accordion" style>
				<div class="card-body pl-8">
					<div class="row">
						<div class="col-sm-6">
							<p class="inrow monospace"><small>{{this.sha256}}</small></p>
						</div>
						<div class="col-sm-6">
							<p class="inrow">
								<a href="/cases/{{this.sha256}}/delete/{{this.uuid}}"><button class="btn btn-danger btn-xs">delete</button></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/cases}}
	</div>
	<table class="table filestable">
		<tbody>
			<tr>
				<td>
					{{#if prev}}
					<a href="{{prev}}"><button class="btn btn-primary btn-xs"><<<</button></a>
					{{/if}}
				</td>
				<td>		
					{{#if next}}
					<a href="{{next}}"><button class="btn btn-primary btn-xs">>>></button></a>
					{{/if}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
				