<div class="container theme-showcase" role="main">
	<p><strong>Suspects ({{results.suspects.length}})</strong></p>	
	<div class="accordion alternate" id="accordion">
		{{#results.suspects}}
			{{> fileblock}}
		{{/results.suspects}}
	</div>
	<p><strong>Cases ({{results.cases.length}})</strong></p>
	
	<div class="accordion alternate" id="accordion">
		{{#results.cases}}
			<div class="card">
				<div class="card-header" id="heading-{{this.uuid}}">
					<div class="row expand-ctrl" type="button" data-toggle="collapse" data-target="#collapse-{{this.uuid}}">
						<div class="col-sm-2"><p class="inrow monospace"><small>{{casetime}}</small></p></div>
						<div class="col-sm-5"><p class="inrow monospace"><small>{{this.fname}}</small></p></div>
						<div class="col-sm-2"><p class="inrow monospace"><small>Similarity: {{this.sml}}</small></p></div>
						<div class="col-sm-2"><p class="inrow monospace"><small>Hits: {{this.count}}</small></p></div>
						<div class="col-sm-1"><p class="inrow"><a href="/cases/view/{{this.sha256}}/{{this.uuid}}"><button class="btn btn-default btn-xs">view</button></a></p></div>
					</div>
				</div>
				<div id="collapse-{{this.uuid}}" class="collapse" aria-labelledBy="heading-{{this.uuid}}" data-parent="accordion">
					<div class="card-body">
						<pre>{{this.object}}</pre>
					</div>
				</div>
			</div>
		{{/results.cases}}
	</div>
</div>
