<script src="javascripts/jquery.countdown.min.js"></script>
<script>
$(document).ready(function() {
	$('td.clock').each(function(el) {
		var enddate = el.text();
		$(el).countdown(enddate)
		.on('update', function(event) {
			this.text(event.strftime());
		})
		.countdown('start');
	});
	$('.vstatus').change(function() {
		var sendInfo = {
			status: $(this).val()
		}
		$.ajax({
			type: "POST",
			url: "/victims/" + $(this).attr("uuid") + "/status",
			async: false,
			error: function(xhr, status, error) {
				alert('Error ' + error + ' when setting status');
			},
			data: sendInfo
		});
	});
});
</script>
<div class="workers">
	<table>
		<thead>
			<tr>
				<th>Victim</th>
				<th>OS</th>
				<th>Case status</th>
				<th>Current parameters</th>
				<th>Runs since last reboot</th>
				<th>Last reboot time</th>
				<th>Victim status</th>
			</tr>
		</thead>
		<tbody>
			{{#each workers}}
			<tr>
				<td>{{this.libvirtname}}</td>
				<td>{{this.os}}</td>
				<td>{{this.position}}</td>
				<td>
					{{#if this.params}}
					<table>
						{{#each this.parsedparams}}
						<tr>
							<td>{{@key}}</td>
							<td class="{{this.class}}">{{this.content}}</td>
						</tr>
						{{/each}}
					</table>
					{{/if}}
				</td>
				<td>{{this.runcounter}}</td>
				<td>{{this.last_reboot}}</td>
				<td>
				<select class='vstatus' uuid="{{this.uuid}}">
					{{{this.selectopts}}}
				</select>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>