<script src="javascripts/jquery.countdown.min.js"></script>
<script>
$(document).ready(function() {
	$('td.clock').each(function(el) {
		var enddate = el.text();
		$(el).countdown(enddate)
		.on('update', function(event) {
			this.text(event.strftime());
		})
		.countdown('start');
	});
	$('.vstatus').change(function() {
		var sendInfo = {
			status: $(this).val()
		}
		$.ajax({
			type: "POST",
			url: "/victims/" + $(this).attr("uuid") + "/status",
			async: false,
			error: function(xhr, status, error) {
				alert('Error ' + error + ' when setting status');
			},
			data: sendInfo
		});
	});
});
</script>
<div class="container alternate">
	{{#workers}}
	<div class="row">
		<div class="col-sm-2">{{this.libvirtname}}</div>
		<div class="col-sm-3">{{this.os}}</div>
		<div class="col-sm-1">{{this.position}}</div>
		<div class="col-sm-1">{{this.runcounter}}</div>
		<div class="col-sm-2">{{this.last_reboot}}</div>
		<div class="col-sm-3">
			<select class='vstatus' uuid="{{this.uuid}}">
				{{{this.selectopts}}}
			</select>
		</div>
	</div>
	{{#if this.params}}
	<div class="row">
		<table>
			<tbody>
				{{#each this.parsedparams}}
				<tr>
					<td>{{@key}}</td>
					<td class="{{this.class}}">{{this.content}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	{{/if}}
	{{/workers}}
</div>