<div class="casesblk">
	<table class="casestbl">
		<thead>
			<tr>
				<th>Submitted at</th>
				<th>Filename</th>
				<th>SHA256</th>
				<th>Status</th>
				<th>Victim status</th>
			</tr>
		</thead>
		<tbody>
		{{#cases}}
			<tr>
				<td>{{this.submittime}}</td>
				<td>{{this.fname}}</td>
				<td><div class="longrow monospace">{{this.sha256}}</div></td>
				<td>{{this.status}}</td>
				<td>{{this.position}}</td>
				<td><a href="/cases/view/{{this.sha256}}/{{this.uuid}}"><button>view</button></a></td>
				<td><a href="/cases/{{this.sha256}}/delete/{{this.uuid}}"><button>delete</button></a></td>
			</tr>
		{{/cases}}
			<tr>
				<td>
					{{#if prev}}
					<a href="{{prev}}"><button><<<</button></a>
					{{/if}}
				</td>
				<td>		
					{{#if next}}
					<a href="{{next}}"><button>>>></button></a>
					{{/if}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
